<!-- source: https://help.openai.com/en/articles/8983038-which-countries-do-you-support-for-whatsapp-phone-verification -->

# Which countries do you support for WhatsApp phone verification?

Learn which countries are supported for WhatsApp phone verification

Updated: 10 days ago

In certain countries you can complete phone verification with WhatsApp instead of via an SMS.  
  
We currently support the following countries:

* **AE**: United Arab Emirates
* **EG**: Egypt
* **ID**: Indonesia
* **IL**: Israel
* **IN**: India
* **MY**: Malaysia
* **NG**: Nigeria
* **PK**: Pakistan
* **SA**: Saudi Arabia
* **TR**: Turkey
* **UA**: Ukraine
* **VN**: Vietnam
