<!-- source: https://help.openai.com/en/articles/9981739-what-happens-after-i-submit-my-id-for-age-verification -->

# What happens after I submit my ID for age verification?

Updated: 3 days ago

## How long does it take to verify my documents and reactivate my account?

Once your ID documents have been submitted successfully, it usually takes a few hours to validate the documents and verify you meet the minimum age requirements for using our services.  
  
You will receive an **email notification** regarding the outcome, along with any additional steps if needed. If your account is still deactivated a few hours after successful verification, please contact OpenAI Support for further assistance.

## How do I know that OpenAI received my ID documents?

If you used **Stripe** to verify your age, you should see a confirmation screen indicating that your documents have been submitted successfully.

![OpenAI age verification confirmation page stating Verification submitted and that you can close the tab](https://images.ctfassets.net/j22is2dtoxu1/intercom-img-eee9884b162ba22d7fe1b370/4fe5f8b5741f32f3c1e62a7f622dd516/Screenshot_2024-10-14_at_12_38_59.png)

If you see this confirmation, your documents have been received.  
  
If you see an error message, a different screen, or if you exited the process early, your documents were **not submitted**. Please retry the submission process [here](https://verify.stripe.com/v/dR62c5bPSfj56u4bII).

## How long does OpenAI keep my ID document data?

Your ID document data is deleted immediately after the age verification process is complete.
